.gpt3__header {
  display: flex;
}
.gpt3__header-content {
  flex: 1;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  flex-direction: column; 
  margin-right: 5rem;
}
.gpt3__header-content h1  {
 font-family: var(--font-family); 
 background: linear-gradient(90deg, #AE67FA 1.84%, #F49867 102.67%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 62px;
font-weight: 800;
line-height: 75px; 
letter-spacing: -2.48px;
}
.gpt3__header-content p{
color: var(--color-text);
font-family:var(--font-family);
font-size: 20px;
font-style: normal;
font-weight: normal;
line-height: 27px;
margin-top: 1.5rem;
}
.gpt3__header-content__input{
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}
.gpt3__header-content__input input{
  flex: 2;
  width: 100%;
  min-height: 50px;
  border-top-right-radius: 5px ;
  border-bottom-right-radius: 5px ;
  background: var(--color-footer);
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;  
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gpt3__header-content__input button{
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  border-top-right-radius: 5px ;
  border-bottom-right-radius: 5px ;
  background: var(--color-footer);
  background: #FF4820;
  color: #FFF;
  font-family:var(--font-family);
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
  white-space: nowrap;
  min-width: max-content;
  }
 .gpt3__header__people{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
 }
 .gpt3__header__people img{
  width: 181.786px;
  height: 38px;
 }
 .gpt3__header__people p {
  color: #FFF;
  margin:0 0 0 1rem;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
 }
 .gpt3__header-image{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .gpt3__header-image img{
  width: 100%;
  height: 100%;
 }
 @media screen and (max-width: 1050px) {
  .gpt3__header{
    flex-direction: column;
  }
  .gpt3__header-content{
    margin: 0 0 3rem;
    
  }
 }
 @media screen and (max-width: 650px) {
  .gpt3__header h1{
    font-size: 48px;
    line-height: 60px;
  }
  .gpt3__header p {
    font-size: 16px;
    line-height: 24px;
  }
  .gpt3__header__people{
    flex-direction: column;
  }
 
  .gpt3__header__people p{
    margin: 0;
  }
  .gpt3__header-content__input input,.gpt3__header-content__input button{
   font-size: 16px;
   line-height: 24px;
  }
}
@media screen and (max-width: 490px){
  .gpt3__header h1{
    font-size: 36px;
    line-height: 48px;
  }
  .gpt3__header p {
    font-size: 14px;
    line-height: 24px;
  }
  .gpt3__header-content__input input,.gpt3__header-content__input button{
    font-size: 12px;
    line-height: 16px;
   
    
   }
}